*.pyc
*.sqlite3

/.idea/


local_settings.py
media/
static/
lib/
.env


astrofactor/__pycache__/
astrouser/__pycache__/
astrouser/migrations/__pycache__/
engine/__pycache__/
engine/astro_routines/__pycache__/
engine/migrations/__pycache__/
grabber/__pycache__/
grabber/scrapes/__pycache__/
polls/__pycache__/
polls/migrations/__pycache__/
records/__pycache__/
records/migrations/__pycache__/
reminder/__pycache__/
reminder/migrations/__pycache__/

env/
venv35/
venv36/
env35/
qweqweq/


reminder/telegram_bot/__pycache__/
telegram_bot.log





