gunicorn==19.4.5
Django==1.9.2
psycopg2==2.6.1
dj-database-url==0.4.0

numpy==1.9.2

beautifulsoup4==4.3.2
requests==2.2.1
httplib2==0.9

geopy==1.11.0
pyephem==3.7.5.3
pytz==2015.7
tzwhere==2.2

whitenoise==2.0.6

APScheduler==3.0.5

matplotlib==1.4.3
