{% extends "inner_layout.html" %}

{% load staticfiles %}

{% block title %} {{ object.name }} {% endblock title %}

{% block mc_header_left %} Editing moment:
{% endblock mc_header_left %}

{% block mc_header_right %}{% endblock mc_header_right %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'lib/jasny-bootstrap/css/jasny-bootstrap.min.css' %}">
{% endblock css %}

{% block mc_body %}
    <ul class="nav nav-tabs">
        <li><a href="{% url 'edit_observer' place_id=place_id %}#!pages">Place</a></li>
        <li><a href="{% url 'edit_observer' place_id %}#!settings">Time</a></li>
        <li><a href="{% url 'edit_observer' place_id %}#!share">Empty</a></li>
        <li class="active">
            <a data-toggle="tab" href="">Moment</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="monetize" class="tab-pane fade in active">
            <div class="marg-tb">
                {% include "engine/form_moment.html" %}
            </div>
        </div>
    </div>
{% endblock mc_body %}

{% block js %}
{#    <script src="{% static 'lib/Sortable.min.js' %}"></script>#}
{#    <script src="{% static 'lib/ckeditor/ckeditor.js' %}"></script>#}
{#    <script src="{% static 'lib/jasny-bootstrap/js/jasny-bootstrap.min.js' %}"></script>#}
    <script src="{% static 'engine/js/edit_moment.js' %}"></script>
{% endblock js %}
