<form action="" id="place-form" method="post" enctype="multipart/form-data" onsubmit="return placeFormSubmit()">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-8">
            <div class="form-errors">
                {% for error in form.non_field_errors %}
                    <p class="form-error-list">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.title.errors }}
                {{ form.title.label_tag }}
                {{ form.title }}
            </div>

            <div class="form-group flex text-img-block">
                <div class="ckeditor-wraper">
                    {{ form.text.errors }}
                    {{ form.text.label_tag }}
                    {{ form.text }}
                </div>
            </div>

            <div class="form-group">
                {{ form.longitude.errors }}
                {{ form.longitude.label_tag }}
                {{ form.longitude }}
            </div>

            <div class="form-group">
                {{ form.latitude.errors }}
                {{ form.latitude.label_tag }}
                {{ form.latitude }}
            </div>

            <div class="form-group">
                {{ form.timezone_name.errors }}
                {{ form.timezone_name.label_tag }}
                {{ form.timezone_name }}
            </div>


            <div class="align-right">
                {% if submit_btn_name %}
                    <button type="submit" class="btn btn-info" name="btn_create_save_changes">{{ submit_btn_name }}</button>
                {% else %}
                    <button type="submit" class="btn btn-info" name="btn_create_save_changes">Create</button>
                {% endif %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="fileinput mt15 {% if form.instance.image %} fileinput-exists {% else %} fileinput-new {% endif %}"
                 data-provides="fileinput">
                <div class="fileinput-preview-wrapper">
                    <p>Click to upload an image.<br><br>Images will be displayed 150px by 120px.</p>
                    <div class="fileinput-preview thumbnail" data-trigger="fileinput">
                        {% if form.instance.image %}
                            <img id="initial-img" src="{{ form.instance.image.url }}"
                                 alt="" style="vertical-align: middle;">
                        {% endif %}
                    </div>
                </div>
                <div>
                <span class="btn btn-default btn-file" style="display:none">
                    {{ form.image }}
                </span>
                    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                </div>
            </div>
        </div>
    </div>
</form>
