
{#<form method="post" role="form">#}
{#    {% for field in form.visible_fields %}#}
{#    <div id="div_{{ field.html_name }}"#}
{#         class="form-group{% if field.errors %} has-error{% endif %}">#}
{#        {{ field.label_tag }}#}
{#        {{ field }}#}
{#        <div class="text-muted pull-right">#}
{#            <small>{{ field.help_text }}</small>#}
{#        </div>#}
{#        <div class="help-block">#}
{#            {{ field.errors }}#}
{#        </div>#}
{#    </div>#}
{#    {% endfor %}#}
{#    {% for hidden in form.hidden_fields %}#}
{#        {{ hidden }}#}
{#    {% endfor %}#}
{#    {% csrf_token %}#}
{#    <div class="form-group">#}
{#        <input type="submit" value="Submit" class="btn btn-primary" />#}
{#    </div>#}
{#</form>#}

<form action="" id="time-form" method="post" enctype="multipart/form-data" onsubmit="return timeFormSubmit()">
    {% csrf_token %}

    <div class="row">
        <div class="col-md-8">
            <div class="form-errors">
                {% for error in form.non_field_errors %}
                    <p class="form-error-list">{{ error }}</p>
                {% endfor %}
            </div>

{#            <div class="form-group">#}
{#                {{ form.dp2.errors }}#}
{#                {{ form.dp2.label_tag }}#}
{##}
{#                <div class="row">#}
{#                    <div class='col-sm-6'>#}
{#                        <div class="form-group">#}
{#                            <div class='input-group date' id='datetimepicker13'>#}
{#                                <input type='text' class="form-control"/>#}
{#                                {{ form.dp2 }}#}
{#                                <span class="input-group-addon">#}
{#                                    <span class="glyphicon glyphicon-time"></span>#}
{#                                </span>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}


            <div style="overflow:hidden;">
                <div class="form-group">
                    {{ form.unaware_local.errors }}
                    {{ form.unaware_local.label_tag }}

                    <div class="row">
                        <div class="col-md-6">
                            {{ form.unaware_local }}
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group">
                {{ form.result.errors }}
                {{ form.result.label_tag }}
                {{ form.result }}
            </div>


            <div class="form-group">
                {{ unaware_loc }}<br>
                {{ aware_loc }}<br>
                {{ aware_utc }}<br>
                {{ sun_rise_sett }}<br>
            </div>


            <div class="align-right">
                {% if submit_btn_name %}
                    <button type="submit" class="btn btn-info" name="btn_create_save_changes">{{ submit_btn_name }}</button>
                {% else %}
                    <button type="submit" class="btn btn-info" name="btn_create_save_changes">Create</button>
                {% endif %}
            </div>
        </div>

    </div>
</form>
