$calendarDayWidth: 13.5%;

#astro-calendar {
	width: 90%;
	margin: $centered;
	margin-top: 40px;
}

.calendar-week-title,
.calendar-day {
	text-align: center;
}

.astro-calendar-list {
	list-style: none;
}

.calendar-day {
	display: inline-block;
	width: $calendarDayWidth;
	text-transform: capitalize;
	font-size: 22px;
	font-family: cursive;
}